---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Moh Hasbi Assidiqi. All rights reserved.<br>
	Powered by <a href="https://astro.build">Astro</a>. Template by <a href="https://github.com/withastro/astro/tree/main/examples/blog">Astro Blog Template</a>.
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
</style>
